{% extends "layout.html" %}

{% block body %}


<div class="row logorow no-gutters">
    <div class="col">
    </div>
    <div class="col-6">
        <img class="logo" src="{{ url_for('static', filename='negro2.png')}}" alt="">
    </div>
    <div class="col">
    </div>
</div>
<div class="row variable no-gutters">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="container main h-100">
            <div class="row h-100">
                
                
                <div class="col">
                    <div class="container main-left d-flex align-items-center justify-content-center">
                        <img id="oliver" src="{{ url_for('static', filename='oliver&tom.jpg')}}" alt="oliver">
                    </div>
                </div>
                <div class="col">
                    <div class="container main-right d-flex align-items-center justify-content-center">
                        <p id="parrafo">"Music transcends us all," that's what Oliver & Tom,    composed by Andrés Martynowicz and
                            Mauricio Infiesta, is all about.
                            This duo’s symbiosis originated in their childhood. Growing up together, they shared diverse
                            musical experiences in rock and pop bands, where Andrés excelled in the electric guitar and
                            Mauricio in the acoustic drums. A few years later, both continued their studies now choosing the
                            piano and synthesizer as their main instruments of production and giving rise to the creation of
                            the electronic music group "Oliver & Tom."
                            The name honors two characters of an anime called “Captain Tsubasa”, who were known for
                            their strong bond both on and off the football field.
                            These two Argentinian producers found their way to Progressive House in 2017 when they
                            signed their first tracks with the famous and very prestigious label "The Soundgarden," founded
                            by a current legend of the genre, Nick Warren.
                            The musical style of “O&T” is defined by incorporating groove and emotion into their songs,
                            allowing the audience to experience different sensations and movements while listening. The
                            musical influences of this duo come from some of the best electronic artists such as Nick
                            Warren, Hernán Cattaneo, Sasha, John Digweed, Guy J and Guy Mantzur.
                            Oliver & Tom came to stay, creating a musical alternative and a sound of their own that seeks to
                            remain at the highest levels of Progressive House. We will be following their productions and
                            the future that awaits this phenomenal duo!</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="row contact">
    <div class="container">
        <ul class="contact-list">
            <li>info@oliverandtom.com</li>
            <li>bookings@oliverandtom.com</li>
        </ul>
    </div>
</div>


{% endblock %}


